pyspellchecker==0.8.1
numpy==1.26.4
language-tool-python==2.8
fasttext==0.9.3
huggingface-hub==0.23.4
python-Levenshtein==0.25.1
bert-score==0.3.13
nltk==3.9
evaluate==0.4.1
sentence-transformers==3.0.1
git+https://github.com/google-research/bleurt.git
tf-keras